.completed__workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.completed__traitlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 45%;
  height: auto;
  padding: 0px;
}

.completed__trait-container {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: url("../../../../icons/cursors/ponter.png"), pointer;
  border: 0.25vw solid #58b698;
}

.completed__trait-container,
.completed__descr-text,
.code-block__text {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.completed__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.completed__trait-container_active {
  border: 0.25vw solid #ec9240;
}

.completed__trait-container-image {
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.completed__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}

.completed__descr-block,
.code-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.completed__descr-block {
  width: 25%;
}

.code-block {
  width: 20%;
}

.completed__descr-title,
.code-block__title {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
  height: 3vw;
}

.completed__descr-text,
.code-block__text {
  font-size: 1vw;
  text-align: justify;
  width: 100%;
  height: auto;
  min-height: 7vw;
  padding: 1vw;
}