.species-workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 30vw;
  margin: 0px auto;
  padding: 0px;
}

.species__traitlist-block {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.species__traitlist_origin {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px;
}

.species__container,
.species__container_not,
.species__container_bio {
  display: flex;
  align-items: center;
  width: 30%;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: pointer;
  border: 0.25vw solid #58b698;
  border-radius: 1vw;
}

.species__container_active,
.species__container_not_active,
.species__container_bio_active {
  background-color: #58b698;
  border: 0.25vw solid darkgreen;
  color: black;
}

.species__container:hover,
.species__container_not:hover,
.species__container_bio:hover {
  background-color: #58b698;
  color: black;
}

.species__container-image {
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.species__container-name {
  display: block;
  align-self: center;
  height: auto;
}

.species__traitlist_additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.species__descr-block {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.species__descr-title {
  text-align: center;
  width: 100%;
  font-size: 1.5vw
}

.species__descr-text{
  text-align: justify;
  width: 100%;
  font-size: 1vw
}

.green {
  color: green;
}

.red {
  color: red;
}

.species__button,
.species__button_active {
  text-align: center;
  font-size: 1.5vw;
  width: 9vw;
  height: 2vw;
  padding: 1vw;
  border-radius: 1vw;
}

.species__button {
  border: 0.25vw solid red;
  cursor: no-drop;
}

.species__button_active {
  border: 0.25vw solid #58b698;
  cursor: pointer;
}

.species__button:hover {
  background-color: #58b698;
  color: black;
}
