@font-face {
    font-family: "Orbitron";
    src: url("./src/fonts/Orbitron.ttf");
    font-weight: normal;
    font-style: normal;
}

.body {
    margin: 0px;
    padding: 0px;
    background-image: url("./src/images/background-desktop.jpg");
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: "Orbitron";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    width: 100vw;
    height: 5vw;
    background-color: black;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0.5vw 0px;
    width: 90vw;
    height: 4vw;
}

.header__logo {
    display: block;
    width: 10vw;
    height: 4vw;
    cursor: pointer;
}

.header__logo:hover {
    box-shadow: 0px 0px 0.5vw white;
}

.header__cell {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.header__cell:hover {
    box-shadow: 0px 0px 0.5vw white;
}

.main-section {
    width: 90vw;
    height: 40vw;
    margin: 1vw auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.main-section__container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-section__title {
    margin: 0.5vw auto;
    font-size: 2vw;
    text-align: center;
}

.main-section__workedplace {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}