@font-face {
    font-family: "Orbitron";
    src: url("./src/fonts/Orbitron.ttf");
    font-weight: normal;
    font-style: normal;
}

.body {
    margin: 0px;
    padding: 0px;
    background-image: url("./src/images/background-desktop.jpg");
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: "Orbitron";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    width: 100vw;
    height: 5vw;
    background-color: #3F888F;
    border-bottom: 0.25vw solid #58b698;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0.5vw 0px;
    width: 90vw;
    height: 4vw;
}

.header__logo {
    display: block;
    width: 10vw;
    height: 4vw;
    cursor: pointer;
}

.header__logo:hover {
    box-shadow: 0px 0px 0.5vw #ffffff;
}

.header__cell {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.header__cell:hover {
    box-shadow: 0px 0px 0.5vw white;
}

.main-section {
    width: 90vw;
    height: auto;
    margin: 1vw auto;
    background-color: #3f888f;
    opacity: 0.9;
    color: white;
    border: 0.25vw solid #58b698;
    border-radius: 1vw;
}

.main-section__container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.main-section__title {
    margin: 0.5vw auto;
    font-size: 2vw;
    text-align: center;
}

.main-section__subtitle {
    margin: 0.5vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.main-section__workedplace {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.main-section__workedplace_species {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.main-section__species {
    display: flex;
    width: 80%;
    height: auto;
    padding: 0px;
}

.main-section__species-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    padding: 0px;
}

.main-section__traitlist {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding: 0px;
}

.workedplace__trait-container {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 3.5vw;
    margin: 0.5vw;
    cursor: pointer;
    border: 0.25vw solid #58b698;
    border-radius: 1vw;
}

.workedplace__trait-container:hover {
    background-color: #58b698;
    color: black;
}

.workedplace__trait-container_active {
    background-color: #58b698;
    color: black;
}

.workedplace__trait-container-image {
    width: 3vw;
    height: 3vw;
    margin: 0px 1vw;
}

.workedplace__trait-container-name {
    display: block;
    align-self: center;
    height: auto;
}

.main-section__trait-descr {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.trait-descr__title {
    margin: 0.5vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.trait-descr__image {
    display: block;
    width: 15vw;
    height: 15vw;
    border: 0.25vw solid #58b698;
    border-radius: 50%;
}

.trait-descr__planet {
    font-size: 1vw;
    text-align: justify;
    border: 0.25vw solid #58b698;
    width: 100%;
    height: 10vw;
    padding: 1vw;
    border-radius: 1vw;
}

.trait-descr__button {
    font-size: 1.5vw;
    text-align: center;
    border: 0.25vw solid #58b698;
    border-radius: 1vw;
    padding: 1vw;
    width: auto;
    height: 2vw;
    cursor: pointer;
    color: red;
}

.trait-descr__button_active {
    color: white
}

.trait-descr__button:hover {
    background-color: #58b698;
}

.trait-descr__trait {
    background-color: black;
    padding: 1vw;
    border: 0.25vw solid #58b698;
    border-radius: 1vw;
}

.green {
    color: green;
    padding-right: 0.5vw;
}

.red {
    color: red;
    padding-right: 0.5vw;
}

.white {
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    width: 100vw;
    height: 5vw;
    background-color: #3f888f;
    border-top: 0.25vw solid #58b698;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0.5vw 0px;
    width: 50vw;
    height: 4vw;
}

.footer__cell {
    display: block;
    width: 4vw;
    height: 3vw;
    cursor: pointer;
}

.footer__cell:hover {
    box-shadow: 0px 0px 0.5vw #ffffff;
}
