.main-section {
  width: 90vw;
  height: auto;
  min-height: 35vw;
  margin: 1vw auto;
  background-color: #3f888f;
  opacity: 0.9;
  color: white;
  border: 0.25vw solid #58b698;
  border-radius: 1vw;
}

.main-section__container {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.main-section__title {
  margin: 0.5vw auto;
  font-size: 2vw;
  text-align: center;
}

.main-section__subtitle {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
}

.workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.green {
  color: #28d725;
}

.red {
  color: #ce4b3d;
}

.yellow {
  color: #e3c661
}