.climate__workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.climate__traitlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  height: auto;
  padding: 0px;
}

.climate__trait-container,
.climate__descr-text,
.climate__descr__trait,
.climate__button,
.climate__button_active {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.climate__trait-container {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 3vw;
  margin: 0.5vw;
  cursor: pointer;
}

.climate__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.climate__trait-container_active,
.climate__button_active {
  border: 0.25vw solid #ec9240;
}

.climate__trait-container-image {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0px 1vw;
}

.climate__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}

.climate__descr-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.climate__descr-title {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
}

.climate__descr-image {
  display: block;
  width: 15vw;
  height: 15vw;
  border: 0.25vw solid #5086d0;
  background-color: #31494d;
  border-radius: 50%;
}

.climate__descr-text {
  font-size: 1vw;
  text-align: justify;
  width: 100%;
  height: auto;
  min-height: 10vw;
  padding: 1vw;
}

.climate__button,
.climate__button_active  {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
  width: auto;
  height: 2vw;
}

.climate__button:hover,
.climate__button_active:hover {
  background-color: #58b698;
}

.climate__button {
  cursor: no-drop;
}


.climate__button_active {
  cursor: pointer;
}