.audio-player-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vw;
  background-color: #1d2b25;
}

.prev,
.play,
.pause,
.next,
.progress-bar-empty,
.duration,
.track-name {
  height: 1.5vw;
  margin: 0px 0.5vw;
}

.prev,
.play,
.pause,
.next {
  width: 1.5vw;
}

.progress-bar-empty {
  background-image: url("../../icons/audio-player/progress-bar-empty.png");
  background-size: contain;
  width: 30vw;
}

.progress-bar {
  height: 1.5vw;
  width: 0vw;
}

.duration {
  min-width: 10vw;
  text-align: center;
}

.duration,
.track-name {
  color: white;
}