.audio-player-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5%;
  width: 90%;
  height: 5vw;
  background-color: #1d2b25;
}

.prev,
.play,
.pause,
.next,
.progress-bar-empty,
.duration,
.track-name,
.volume {
  height: 1.5vw;
  margin: 0px 0.5vw;
}

.prev,
.play,
.pause,
.next {
  width: 1.5vw;
  cursor: url("../../icons/cursors/pointer.png"), pointer;
}

.progress-bar-empty {
  background-image: url("../../icons/audio-player/progress-bar-empty.png");
  background-size: contain;
  width: 30vw;
  cursor: url("../../icons/cursors/pointer.png"), pointer;
}

.progress-bar {
  margin: auto 0px;
  height: 1.5vw;
  width: 0vw;
}

.duration {
  text-align: right;
  min-width: 10vw;
}

.duration,
.track-name,
.volume {
  display: block;
  color: white;
}

.mute,
.sound {
  height: 2vw;
  width: 2vw;
  margin: 0px 0.5vw;
  cursor: url("../../icons/cursors/pointer.png"), pointer;
}

.volume-bar-empty,
.volume-bar {
  height: 1vw;
}

.volume-bar-empty {
  display: flex;
  align-items: center;
  background-image: url("../../icons/audio-player/volume-bar-empty.png");
  background-size: cover;
  margin: 0px 0.5vw;
  width: 10vw;
  cursor: url("../../icons/cursors/pointer.png"), pointer;
}

.volume-bar {
  margin: auto 0px;
  width: 0vw;
}

.volume {
  min-width: 3vw
}