.species__traitlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.species__trait-container,
.species__descr-text {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.species__trait-container {
  display: flex;
  align-items: center;
  width: 14vw;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: url("../../../icons/cursors/pointer.png"), pointer;
}

.species__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.species__trait-container_active {
  border: 0.25vw solid #ec9240;
}

.species__trait-container-image {
  height: 3vw;
  margin: 0px 1vw;
}

.species__trait-container-image {
  width: 3vw;
}


.species__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}