.planet__workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.planet__traitlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.planet__trait-container {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: pointer;
  border: 0.25vw solid #58b698;
}

.planet__trait-container,
.planet__descr-text,
.planet__button,
.planet__button_active {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.planet__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.planet__trait-container_active,
.planet__button_active {
  border: 0.25vw solid #ec9240;
}

.planet__trait-container-image_yellow,
.planet__trait-container-image_green,
.planet__trait-container-image_red {
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.planet__trait-container-image_yellow {
  background-color: #968835;
  border-radius: 50%;
}

.planet__trait-container-image_green {
  background-color: #4a725d;
  border-radius: 50%;
}

.planet__trait-container-image_red {
  background-color: #903b38;
  border-radius: 50%;
}

.planet__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}

.planet__descr-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.planet__descr-title {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
  height: 3vw;
}

.planet__descr-text {
  font-size: 1vw;
  text-align: justify;
  width: 100%;
  height: auto;
  min-height: 7vw;
  padding: 1vw;
}

.planet__button {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
  width: auto;
  height: 2vw;
  cursor: pointer;
}

.planet__button {
  cursor: no-drop;
}

.planet__button_active {
  cursor: pointer;
}

.planet__button:hover,
.planet__button_active {
  background-color: #58b698;
}