.biological__workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.biological__traitlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  height: auto;
  padding: 0px;
}

.biological__trait-container,
.biological__descr-text,
.biological__button,
.biological__button_active  {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.biological__trait-container {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: url("../../../../icons/cursors/ponter.png"), pointer;
}

.biological__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.biological__trait-container_active,
.biological__button_active {
  border: 0.25vw solid #ec9240;
}

.biological__trait-container-image {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.biological__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}

.biological__descr-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.biological__descr-title {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
}

.biological__descr-text {
  font-size: 1vw;
  text-align: justify;
  width: 100%;
  height: auto;
  min-height: 9vw;
  padding: 1vw;
}

.biological__button,
.biological__button_active {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
  width: auto;
  height: 2vw;
  cursor: url("../../../../icons/cursors/ponter.png"), pointer;
}

.biological__button:hover,
.biological__button_active:hover {
  background-color: #58b698;
}

.biological__button {
  cursor: url("../../../../icons/cursors/no-drop.png"), no-drop;
}

.biological__button_active {
  cursor: url("../../../../icons/cursors/ponter.png"), pointer;
}

.biological__descr__trait {
  background-color: black;
  padding: 1vw;
  border: 0.25vw solid #58b698;
  border-radius: 1vw;
}