.bio__traitlist,
.hm__traitlist {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.bio__trait-container,
.hm__trait-container {
  background-color: #1d2b25;
  display: flex;
  align-items: center;
  width: 30%;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: url("../../../../icons/cursors/pointer.png"), pointer;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.bio__trait-container_active,
.hm__trait-container_active {
  border: 0.25vw solid #ec9240;
}

.bio__trait-container:hover,
.hm__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.bio__trait-container-image,
.hm__trait-container-image {
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.bio__trait-container-name,
.hm__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}
