.ethic__workedplace {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}

.ethic__traitlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.ethic__trait-container {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  margin: 0.5vw;
  cursor: url("../../../icons/cursors/ponter.png"), pointer;
  border: 0.25vw solid #58b698;
}

.ethic__trait-container,
.ethic__descr-text,
.ethic__button,
.ethic__button_active {
  background-color: #1d2b25;
  border: 0.25vw solid #131d1c;
  border-radius: 1vw;
}

.ethic__trait-container:hover {
  background-color: #58b698;
  color: black;
}

.ethic__trait-container_active,
.ethic__button_active {
  border: 0.25vw solid #ec9240;
}

.ethic__trait-container-image {
  width: 3vw;
  height: 3vw;
  margin: 0px 1vw;
}

.ethic__trait-container-name {
  display: block;
  align-self: center;
  height: auto;
}

.ethic__descr-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.ethic__descr-title {
  margin: 0.5vw auto;
  font-size: 1.5vw;
  text-align: center;
  height: 3vw;
}

.ethic__descr-text {
  font-size: 1vw;
  text-align: justify;
  width: 100%;
  height: auto;
  min-height: 20vw;
  padding: 1vw;
}

.ethic__button {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
  width: auto;
  height: 2vw;
  cursor: url("../../../icons/cursors/ponter.png"), pointer;
}

.ethic__button {
  cursor: url("../../../icons/cursors/no-drop.png"), no-drop;
}

.ethic__button_active {
  cursor: url("../../../icons/cursors/ponter.png"), pointer;
}

.ethic__button:hover,
.ethic__button_active {
  background-color: #58b698;
}